name = "tane"
main = "src/index.ts"
compatibility_date = "2025-04-01"
compatibility_flags = ["nodejs_compat"]

routes = [
  { pattern = "tane.ryo-o.dev", custom_domain = true },
]

[vars]
GITHUB_APP_SLUG = "tane-app"
